<header class="header fixed w-full">
    <div class="container">
		<div class="d-flex flex-wrap align-items-center">
			<h1 class="py-2">
				<a class="logo" href="index.html">Glasses</a>
			</h1>
        	<ul class="nav d-flex flex-wrap fz-3 fz-sm-2">
				<li class="nav-item"><a href="#" class="blow-up blow-up-l">系列鏡框</a></li>
				<li class="nav-item"><a href="locations.html" class="blow-up blow-up-l">門市據點</a></li>
				<li class="nav-item"><a href="#" class="blow-up blow-up-l">部落格</a></li>
				<li class="nav-item"><a href="qa.html" class="blow-up blow-up-l">常見問題</a></li>
			</ul>
		</div>		
    </div>
</header>
